// Colors
$color-main-bg: gray;
$color-app-bg: rgba(255, 255, 255, 0.95);
$color-footer-bg: rgba(106, 145, 255, 0.582);
$color-title: palevioletred;
$color-book-id: rgb(224, 12, 118);
$color-book-isbn: rgb(105, 0, 119);
$color-selected-author-border: rgb(168, 0, 168);
$color-selected-author-bg: rgba(255, 168, 255, 0.582);
$color-custom-btn: rgb(182, 12, 224);
$color-custom-btn-bg: rgba(255, 154, 247, 0.253);
$color-custom-btn-hover-bg: rgba(255, 161, 224, 0.377);

// Sizes
$main-footer-height: 85px;
$app-header-height: 150px;
$app-logo-size: 80px;
$title-margin-top: 18px;
$booklist-max-width: 350px;
$bookaddingwizard-max-width: 80%;
$bookaddingwizard-padding: 30px;
$border-radius: 5px;